  <!-- Standard Metadata -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{{ if $.Param "seo.title" }}{{ $.Param "seo.title" }}{{ else }}{{ if .Title }}{{ .Title }} | {{ end }}{{ .Site.Title }}{{ end }}</title>
  <meta name="description" content="{{ if $.Param "seo.description" }}{{ $.Param "seo.description" }}{{ else }}{{ .Site.Params.SiteDescription }}{{ end }}">
  <!-- Responsive meta tag -->
  <meta name="viewport" content="width=device-width, initial-scale=1">